@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 137 0% 100%;
    --foreground: 137 0% 10%;
    --card: 137 0% 100%;
    --card-foreground: 137 0% 15%;
    --popover: 137 0% 100%;
    --popover-foreground: 137 95% 10%;
    --primary: 137 41.4% 30.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 137 10% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 99 10% 95%;
    --muted-foreground: 137 0% 40%;
    --accent: 99 10% 90%;
    --accent-foreground: 137 0% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 137 0% 100%;
    --border: 137 20% 82%;
    --input: 137 20% 50%;
    --ring: 137 41.4% 30.8%;
    --radius: 0.75rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 137 10% 10%;
    --foreground: 137 0% 90%;
    --card: 137 0% 10%;
    --card-foreground: 137 0% 90%;
    --popover: 137 10% 5%;
    --popover-foreground: 137 0% 90%;
    --primary: 137 41.4% 30.8%;
    --primary-foreground: 0 0% 100%;
    --secondary: 137 10% 15%;
    --secondary-foreground: 0 0% 100%;
    --muted: 99 10% 15%;
    --muted-foreground: 137 0% 60%;
    --accent: 99 10% 15%;
    --accent-foreground: 137 0% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 137 0% 90%;
    --border: 137 20% 18%;
    --input: 137 20% 18%;
    --ring: 137 41.4% 30.8%;
    --radius: 0.75rem;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  height: 56px;
  border-radius: 8px;
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: #888;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
